
    $tp-typography: (
      
      title-xl-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 44px,
'line-height': 120%
      )
    ,

      title-lg-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 38px,
'line-height': 120%
      )
    ,

      title-md-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 32px,
'line-height': 120%
      )
    ,

      title-sm-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 24px,
'line-height': 120%
      )
    ,

      title-xs-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 18px,
'line-height': 120%
      )
    ,

      title-2xs-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 16px,
'line-height': 120%
      )
    ,

      paragraph-lg-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 18px,
'line-height': 140%
      )
    ,

      paragraph-lg-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 18px,
'line-height': 140%
      )
    ,

      paragraph-lg-light-normal: (
        'font-family': FS Emeric,
'font-weight': 300,
'font-size': 18px,
'line-height': 140%
      )
    ,

      paragraph-md-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 16px,
'line-height': 140%
      )
    ,

      paragraph-md-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 16px,
'line-height': 140%
      )
    ,

      paragraph-md-light-normal: (
        'font-family': FS Emeric,
'font-weight': 300,
'font-size': 16px,
'line-height': 140%
      )
    ,

      paragraph-sm-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 14px,
'line-height': 140%
      )
    ,

      paragraph-sm-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 14px,
'line-height': 140%
      )
    ,

      paragraph-sm-light-normal: (
        'font-family': FS Emeric,
'font-weight': 300,
'font-size': 14px,
'line-height': 140%
      )
    ,

      label-lg-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 18px,
'line-height': 120%
      )
    ,

      label-lg-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 18px,
'line-height': 120%
      )
    ,

      label-md-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 16px,
'line-height': 120%
      )
    ,

      label-md-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 16px,
'line-height': 120%
      )
    ,

      label-sm-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 14px,
'line-height': 120%
      )
    ,

      label-sm-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 14px,
'line-height': 120%
      )
    ,

      label-xs-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 600,
'font-size': 12px,
'line-height': 120%
      )
    ,

      label-xs-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 12px,
'line-height': 120%
      )
    ,

      label-2xs-bold-normal: (
        'font-family': FS Emeric,
'font-weight': 700,
'font-size': 8px,
'line-height': 120%
      )
    ,

      label-2xs-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 400,
'font-size': 8px,
'line-height': 120%
      )
    ,

      code-lg-regular-normal: (
        'font-family': Ligconsolata,
'font-weight': 400,
'font-size': 18px,
'line-height': 140%
      )
    ,

      code-md-regular-normal: (
        'font-family': Ligconsolata,
'font-weight': 400,
'font-size': 16px,
'line-height': 140%
      )
    ,

      code-sm-regular-normal: (
        'font-family': Ligconsolata,
'font-weight': 400,
'font-size': 14px,
'line-height': 140%
      )
    ,

      headline-lg-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 500,
'font-size': 18px,
'line-height': 120%
      )
    ,

      headline-md-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 500,
'font-size': 16px,
'line-height': 120%
      )
    ,

      headline-sm-regular-normal: (
        'font-family': FS Emeric,
'font-weight': 500,
'font-size': 14px,
'line-height': 120%
      )
    
    );

    $tp-typography-custom-properties: (
      
      title-xl-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 44px,
'--line-height': 120%
      )
    ,

      title-lg-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 38px,
'--line-height': 120%
      )
    ,

      title-md-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 32px,
'--line-height': 120%
      )
    ,

      title-sm-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 24px,
'--line-height': 120%
      )
    ,

      title-xs-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 18px,
'--line-height': 120%
      )
    ,

      title-2xs-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 16px,
'--line-height': 120%
      )
    ,

      paragraph-lg-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 18px,
'--line-height': 140%
      )
    ,

      paragraph-lg-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 18px,
'--line-height': 140%
      )
    ,

      paragraph-lg-light-normal: (
        '--font-family': FS Emeric,
'--font-weight': 300,
'--font-size': 18px,
'--line-height': 140%
      )
    ,

      paragraph-md-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 16px,
'--line-height': 140%
      )
    ,

      paragraph-md-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 16px,
'--line-height': 140%
      )
    ,

      paragraph-md-light-normal: (
        '--font-family': FS Emeric,
'--font-weight': 300,
'--font-size': 16px,
'--line-height': 140%
      )
    ,

      paragraph-sm-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 14px,
'--line-height': 140%
      )
    ,

      paragraph-sm-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 14px,
'--line-height': 140%
      )
    ,

      paragraph-sm-light-normal: (
        '--font-family': FS Emeric,
'--font-weight': 300,
'--font-size': 14px,
'--line-height': 140%
      )
    ,

      label-lg-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 18px,
'--line-height': 120%
      )
    ,

      label-lg-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 18px,
'--line-height': 120%
      )
    ,

      label-md-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 16px,
'--line-height': 120%
      )
    ,

      label-md-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 16px,
'--line-height': 120%
      )
    ,

      label-sm-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 14px,
'--line-height': 120%
      )
    ,

      label-sm-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 14px,
'--line-height': 120%
      )
    ,

      label-xs-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 600,
'--font-size': 12px,
'--line-height': 120%
      )
    ,

      label-xs-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 12px,
'--line-height': 120%
      )
    ,

      label-2xs-bold-normal: (
        '--font-family': FS Emeric,
'--font-weight': 700,
'--font-size': 8px,
'--line-height': 120%
      )
    ,

      label-2xs-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 400,
'--font-size': 8px,
'--line-height': 120%
      )
    ,

      code-lg-regular-normal: (
        '--font-family': Ligconsolata,
'--font-weight': 400,
'--font-size': 18px,
'--line-height': 140%
      )
    ,

      code-md-regular-normal: (
        '--font-family': Ligconsolata,
'--font-weight': 400,
'--font-size': 16px,
'--line-height': 140%
      )
    ,

      code-sm-regular-normal: (
        '--font-family': Ligconsolata,
'--font-weight': 400,
'--font-size': 14px,
'--line-height': 140%
      )
    ,

      headline-lg-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 500,
'--font-size': 18px,
'--line-height': 120%
      )
    ,

      headline-md-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 500,
'--font-size': 16px,
'--line-height': 120%
      )
    ,

      headline-sm-regular-normal: (
        '--font-family': FS Emeric,
'--font-weight': 500,
'--font-size': 14px,
'--line-height': 120%
      )
    
    );

    
      %tp-typography-title-xl-regular-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 44px !important;
line-height: 120% !important;
      }
    

      %tp-typography-title-lg-regular-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 38px !important;
line-height: 120% !important;
      }
    

      %tp-typography-title-md-regular-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 32px !important;
line-height: 120% !important;
      }
    

      %tp-typography-title-sm-regular-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 24px !important;
line-height: 120% !important;
      }
    

      %tp-typography-title-xs-regular-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 18px !important;
line-height: 120% !important;
      }
    

      %tp-typography-title-2xs-regular-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 16px !important;
line-height: 120% !important;
      }
    

      %tp-typography-paragraph-lg-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 18px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-lg-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 18px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-lg-light-normal {
        font-family: FS Emeric !important;
font-weight: 300 !important;
font-size: 18px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-md-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 16px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-md-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-md-light-normal {
        font-family: FS Emeric !important;
font-weight: 300 !important;
font-size: 16px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-sm-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 14px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-sm-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 14px !important;
line-height: 140% !important;
      }
    

      %tp-typography-paragraph-sm-light-normal {
        font-family: FS Emeric !important;
font-weight: 300 !important;
font-size: 14px !important;
line-height: 140% !important;
      }
    

      %tp-typography-label-lg-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 18px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-lg-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 18px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-md-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 16px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-md-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-sm-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 14px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-sm-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 14px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-xs-bold-normal {
        font-family: FS Emeric !important;
font-weight: 600 !important;
font-size: 12px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-xs-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 12px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-2xs-bold-normal {
        font-family: FS Emeric !important;
font-weight: 700 !important;
font-size: 8px !important;
line-height: 120% !important;
      }
    

      %tp-typography-label-2xs-regular-normal {
        font-family: FS Emeric !important;
font-weight: 400 !important;
font-size: 8px !important;
line-height: 120% !important;
      }
    

      %tp-typography-code-lg-regular-normal {
        font-family: Ligconsolata !important;
font-weight: 400 !important;
font-size: 18px !important;
line-height: 140% !important;
      }
    

      %tp-typography-code-md-regular-normal {
        font-family: Ligconsolata !important;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 140% !important;
      }
    

      %tp-typography-code-sm-regular-normal {
        font-family: Ligconsolata !important;
font-weight: 400 !important;
font-size: 14px !important;
line-height: 140% !important;
      }
    

      %tp-typography-headline-lg-regular-normal {
        font-family: FS Emeric !important;
font-weight: 500 !important;
font-size: 18px !important;
line-height: 120% !important;
      }
    

      %tp-typography-headline-md-regular-normal {
        font-family: FS Emeric !important;
font-weight: 500 !important;
font-size: 16px !important;
line-height: 120% !important;
      }
    

      %tp-typography-headline-sm-regular-normal {
        font-family: FS Emeric !important;
font-weight: 500 !important;
font-size: 14px !important;
line-height: 120% !important;
      }
    

    
      %tp-typography-title-xl-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 44px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-title-lg-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 38px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-title-md-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 32px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-title-sm-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 24px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-title-xs-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 18px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-title-2xs-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 16px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-paragraph-lg-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 18px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-lg-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 18px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-lg-light-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 300 !important;
--font-size: 18px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-md-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 16px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-md-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 16px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-md-light-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 300 !important;
--font-size: 16px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-sm-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 14px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-sm-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 14px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-paragraph-sm-light-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 300 !important;
--font-size: 14px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-label-lg-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 18px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-lg-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 18px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-md-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 16px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-md-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 16px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-sm-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 14px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-sm-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 14px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-xs-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 600 !important;
--font-size: 12px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-xs-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 12px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-2xs-bold-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 700 !important;
--font-size: 8px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-label-2xs-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 400 !important;
--font-size: 8px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-code-lg-regular-normal-custom-properties {
        --font-family: Ligconsolata !important;
--font-weight: 400 !important;
--font-size: 18px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-code-md-regular-normal-custom-properties {
        --font-family: Ligconsolata !important;
--font-weight: 400 !important;
--font-size: 16px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-code-sm-regular-normal-custom-properties {
        --font-family: Ligconsolata !important;
--font-weight: 400 !important;
--font-size: 14px !important;
--line-height: 140% !important;
      }
    

      %tp-typography-headline-lg-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 500 !important;
--font-size: 18px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-headline-md-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 500 !important;
--font-size: 16px !important;
--line-height: 120% !important;
      }
    

      %tp-typography-headline-sm-regular-normal-custom-properties {
        --font-family: FS Emeric !important;
--font-weight: 500 !important;
--font-size: 14px !important;
--line-height: 120% !important;
      }
    
  