$tp-col-values: auto, col-md-auto, col-4, col-8;
$tp-display-values: flex, block;
$tp-align-items-values: center, stretch, end, start;
$tp-justify-content-values: center, end, start;
$tp-flex-column-values: column, column-reverse, row-reverse;
$tp-flex-wrap-values: wrap, nowrap;
$tp-overflow-values: hidden, auto;
$tp-border-values: top, bottom, left, right, auto;
$tp-text-align-values: center, start, end;